<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link href="/stylesheets/carousel.css" rel="stylesheet">

    <style id="holderjs-style" type="text/css"></style>
    <%-scripts%>
    <%-stylesheets%>

</head>
<body>
<header>
    <%-partial('../partials/topNavigation')%>
</header>
<section class="container">



    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
</footer>
</body>
</html>